<header>
    <h3>Angular Blog</h3>
    <div class="buttonBlock">
        <button type="button" class="btn  btn-outline-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Sigh In</button>
        <button type="button" class="btn btn-outline-primary">Sigh Up</button>
    </div>

</header>

<!-- Модальне вікео-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Sign In</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>