header {
  width: 100vw;
  height: 10vh;
  background-color: #383838;
  margin-bottom: 2vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
header h3 {
  color: #ffffff;
}
header .buttonBlock .sign_in,
header .buttonBlock .add_post {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
header .buttonBlock .sign_up,
header .buttonBlock .sign_out {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
header .buttonBlock .active_user {
  border-radius: 0px;
}

section {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: flex-start;
}
section .post {
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #f9e7e7;
  border-radius: 5px;
  padding: 15px;
}
section .post .first_block {
  width: 80%;
  height: auto;
}
section .post .srcond_block {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
section .post .srcond_block .date {
  display: flex;
  text-align: right;
  font-size: 14px;
}
section .post .srcond_block .date i {
  padding: 3px 5px 0 0;
}
section .post .srcond_block .butBlock :nth-child(1) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
section .post .srcond_block .butBlock :nth-child(2) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}