header {
  width: 100vw;
  height: 10vh;
  background-color: #383838;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
header h3 {
  color: #ffffff;
}
header .buttonBlock .sign_in,
header .buttonBlock .add_post {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
header .buttonBlock .sign_up,
header .buttonBlock .sign_out {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
header .buttonBlock .active_user {
  border-radius: 0px;
}