<header>
    <h3>Angular Blog</h3>

    <div class="buttonBlock">
        <button *ngIf="!active_block" [routerLink]="[ '/SignIn' ]" type="button" class="btn btn-outline-success sign_in" data-bs-toggle="modal" data-bs-target="#modalSighIn">Sigh In</button>
        <button *ngIf="!active_block" [routerLink]="[ '/SignUp' ]" type="button" class="btn btn-outline-primary sign_up" data-bs-toggle="modal" data-bs-target="#modalSighUp">Sigh Up</button>

        <button *ngIf="active_block" type="button" class="btn btn-outline-success add_post">Add post</button>
        <div *ngIf="active_block" type="button" class="btn btn-warning active_user ">{{ activeUser }}</div>
        <button (click)="signOut()" *ngIf="active_block" type="button" class="btn btn-outline-warning sign_out">Sign Out</button>
    </div>




</header>



<app-sigh-up (activeBatt)='changeStatus($event)' (addActiveUser)='addActUser($event)'></app-sigh-up>
<app-sigh-in (activeBatt)='changeStatus($event)'></app-sigh-in>