<header>
    <h3>Angular Blog</h3>
    <div class="buttonBlock">
        <button type="button" class="btn btn-outline-success">Sigh In</button>
        <button type="button" class="btn btn-outline-primary">Sigh Up</button>
    </div>
</header>

<section *ngFor="let blog of blogs">
    <div class="post">
        <div class="text">
            <h3>{{blog.topic}}</h3>
            <p>Posted by: {{blog.postedBy}}</p>
            <p>{{blog.message}}</p>
        </div>
        <div class="date">
            <i class="fa fa-clock"></i>
            <p>{{blog.date}}</p>
        </div>

    </div>

</section>